template(x-if="state.results.infoSection")    
    div(class="px-2 2lg:ml-6 2lg:mt-0 mt-4 md:mb-4 md:px-0 infoSection")
        div(class="md:max-w-xl lg:max-w-2xl 2lg:max-w-sm bg-white dark:bg-background-dark200 shadow rounded dark:border-gray-600")
            div(class="relative p-5 text-gray-800 dark:text-white")
                div(class="flex justify-between items-center mb-3")
                    div(class="w-full flex flex-col justify-center relative info-text")
                        p(x-html="state.results.infoSection.data.title" class="font-normal text-left")
                        div(x-html="state.results.infoSection.data.subtitle ? state.results.infoSection.data.subtitle : ''" class="text-sm w-11/12" style="height:42px;")
                        hr(class="w-11/12 dark:border-gray-600 absolute bottom-0 left-0" :class="state.results.infoSection.data.image ? 'mb-1' : ''")
                    div(:class="`flex items-center bg-current text-white dark:text-gray-200 tw-transition ${state.results.infoSection.data.image ? 'p-1 rounded' : ''}`")
                        template(x-if="state.results.infoSection.data.image")
                            div
                                img(x-bind:src="state.results.infoSection.data.image" class="imagesource max-h-40")
                                div(class="bg-current bg-contain bg-no-repeat bg-center text-white dark:text-gray-200 imagedestination" x-bind:style="`background-image:url('${state.results.infoSection.data.image}'); background-blend-mode:multiply;`")
                div(x-html="state.results.infoSection.data.description" class="mt-2 text-sm link-tilt" :class="$store.largeText && $store.largeText.status ? 'text-base' : ''")
                template(x-if="state.results.infoSection.data.about")
                    div
                        hr(class="min-w-full mt-4 dark:border-gray-600 mb-4")
                        div(class="link-tilt")
                            template(x-for="about in state.results.infoSection.data.about")
                                div(x-html="about" class="text-sm mt-1")
                template(x-if="state.results.infoSection.data.sidewaysData")
                    div
                        hr(class="min-w-full mt-4 mb-2 dark:border-gray-600")
                        div(x-html="state.results.infoSection.data.sidewaysTitle ? state.results.infoSection.data.sidewaysTitle : ''" class="mb-4 mt-3")
                        div(class="mt-2 flex items-center justify-around")
                            template(x-if="state.results.infoSection.data.sidewaysData")
                                template(x-for="(sideway, index) in state.results.infoSection.data.sidewaysData")
                                    template(x-if="index < 5")
                                        div(class="text-xs flex flex-col items-center mx-1 text-center w-12 h-12 md:w-14 md:h-14")
                                            a(x-bind:href="sideway.link" class="group relative")
                                                div(class="rounded w-12 h-12 md:w-14 md:h-14 bg-current bg-contain bg-no-repeat bg-center text-white dark:text-gray-200 transition hover:opacity-60" x-bind:style="`background-image:url('${sideway.image}'); background-blend-mode:multiply;`")
                        div(class="mt-2 flex items-start justify-around")
                            template(x-for="(sideway, index) in state.results.infoSection.data.sidewaysData")
                                template(x-if="index < 5")
                                    div(class="text-xs flex flex-col items-center mx-1 text-center w-12 md:w-14 break-words")
                                        a(x-bind:href="sideway.link" class="group relative transition hover:opacity-60")
                                            div(x-html="sideway.text ? sideway.text : ''" style="word-break: break-word;")
                                            template(x-if="sideway.extra")
                                                div(x-html="`(${sideway.extra})`")