div(class="font-light flex mr-3 md:pb-0 md:mr-0" x-cloak)
    div(class="flex items-center")
        div(x-on:mouseover="blockShowSettings(true)" class="px-3 flex items-center")
            span(class="h-5 bg-gray-400 dark:bg-gray-200")
        a(x-on:mouseover="showSettings(false, false, true)" x-on:mouseleave="blockShowSettings(true)" @click="showSettingsOnClick()" class="transition cursor-pointer text-white dark:text-white p-1 hover:opacity-60")
            include ./icons/header/menu