extends _layout

include ./wrapper

block content
  style.
    .mainContainer {
      width: 60%;
    }
    @media screen and (max-width: 1920px) {
      .mainContainer {
        width: 70%;
      }
    }
    @media screen and (max-width: 1600px) {
      .mainContainer {
        width: 80%;
      }
    }
    @media screen and (max-width: 1400px) {
      .mainContainer {
        width: 90%;
      }
    }
  div(x-show="$store.showSettings && $store.showSettings.show" x-on:mouseover="hideSettings(true, false, true)" class="fixed w-screen h-screen z-20 top-0 left-0")
  div(class="h-full dark:bg-background-dark300 dark:text-white")
    div(class="bg-presearch-default dark:bg-background-dark500" style="height: 90px")
      div(class="absolute mt-3 md:mt-5 top-0 ml-2")
          include _partials/icons/home/logo-p_
      div(class="absolute top-0 right-0 mr-2 mt-6 md:mt-8 md:mr-8")
          include _partials/user-info-homepage.pug
    include _partials/settings
    div(class="mt-8 text-center dark:text-white mb-2")
      h2 Welcome to #[span(class="text-presearch-default") Presearch Packages] dev center (◉‿◉)つ
    div(class="flex mx-auto mt-6 mainContainer")
      div(class="flex-1" style="margin-left: 2rem; margin-right:4rem")
        h2(class="mb-2") How to start?
        div(class="mt-1") 1. Open your terminal and navigate to #[span(class="text-presearch-default text-sm") presearch-packages] directory
        div(class="mt-1") 2. Run #[span(class="bg-gray-300 dark:bg-background-dark400 text-sm rounded p-1 mb-1") npm install] command
        div(class="mt-1") 3. Run #[span(class="bg-gray-300 dark:bg-background-dark400 text-sm rounded p-1 mb-1") npm run create-package {packageName}] command
        div(class="mt-1") 4. Open #[span(class="text-presearch-default text-sm") presearch-packages/packages/{packageName}] directory in your favorite code editor
        h2(class="mb-2 mt-8") How to test?
        div(class="mt-1") If you already created your package, it should appear on the list of packages. 
        div(class="mt-1") You can click on it or navigate to #[span(class="text-presearch-default text-sm") http://localhost:4000/{packageName}].
        div(class="mt-1") Then just preform a search - that's all!
        h2(class="mb-2 mt-8") Have fun! ;-)
      div(class="p-4 self-end mr-8 rounded bg-gray-200 dark:bg-background-dark400")
        h2(class="mx-2") List of packages:
        div(class="ml-2")
          each packageName, index in Object.keys(packageObject)
            div(class="mt-2")
              a(href=`/${packageName}`) !{packageName}
