svg(class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 482 482")
	path(d="M189.9 441.4H147V52c0-7.7 4.1-14.7 10.7-18.6s14.8-3.8 21.5 0l215.6 124.4c7.3 4.2 11.5 12.4 10.6 20.8-.9 8.4-6.7 15.5-14.7 18.2l-200.8 64.9v179.7zm0-352.2v127.5l141.6-45.8-141.6-81.7z")